/* CSS Document */
*{ margin:0; padding:0; list-style:none;}
	input[type="button"], 
	input[type="submit"], 
	input[type="reset"] 
	{
	-webkit-appearance: none;
	font-family:Arial, Helvetica, sans-serif}
a{ text-decoration:none;}
input {
-webkit-appearance: none;
}
textarea{
-webkit-appearance: none;
}
body{
	width:100%;
	max-width:640px;
	margin:0 auto;
	
	top:0px; bottom:0px; left:0px; right:0px;
	min-width:320px;}

.left{
	position: absolute;
	top:20%;

	left:3%;
	float:left;
	/*float:left;
	margin-left:1%;*/
	}
.right{
	position: absolute;
	top:20%;
	right:3%;
	float:right;
	/*float:right;
	margin-right:1%;*/
	}
.header{
	/*height:50px;*/
	text-align:center;
	width:100%;
	max-width:640px;
	/*height:35%;*/
	background:#1b1b1b;
	position: relative;}
.header img{
	vertical-align:middle;	
	/*text-height:auto;*/
    /*margin-top:6px;	*/	
	width:8%;}
.header span{  
	color:#FFF;
	font-size:24px;
	line-height:230%;
	}
.imges{
	border-radius:50%;
}
<!--����Ϊ������ʽ===========================================================================================================									==========================================================================================================================-->

.gongwuyuan{
	margin-top:15px;
	}
.gongwuyuan{
	
	  width:100%;
	/*  margin:10px auto; */
	  max-width:640px; 
	  min-width:320px;
	  
	  height:60px;
	  
	  display:block;
	  border-bottom:1px solid #ebebeb;
	  }


.detaill{
	float:right;
	background:#03F;
	color:#FFF;
	padding:1px 2px;
	border-radius:5px;
	margin-right:40px;
	line-height:30px;
	padding:3px 3px;
	
	text-align:center;
	}



.qq{
	width:100%;
	height:20%;
	background-image:url(../image/beijing.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:left;
}
.qqq{
	width:100%;
	float:left;}
.quan{
	width:100%;
	max-width:640px;}
.ceng{
	width:40px;
 	width:40px;  
	margin-left:20px; 
	margin-top:18px;
	float:left;
}
.ci{
	float:left; 
	
	margin-left:5px; 
	margin-top:19px;
	font-size:16px; 
	color:#000;	
}
.div_bottom{
	/* position: fixed; bottom: 0; */
	bottom: 0;
	position:absolute; 
	width:100%;
}
.btn_exit{
	background: #FFF;
	color: red;
	margin-left:5%;
	margin-bottom:10px;
	width:90%;
	height:50px;
	/* color:#FFF; */
	/* background:#3399fe; */
	font-size:16px;
	border-radius:5px;
	border:0;
}
.btn_off{
	background: #FFF;
	color: blue;
	margin-left:5%;
	margin-bottom:10px;
	width:90%;
	height:50px;
	/* color:#FFF; */
	/* background:#3399fe; */
	font-size:16px;
	border-radius:5px;
	border:0;
}
 .cloak{
            display: none;
            position: absolute;
            background-color: rgba(0,0,0,.3);
            width: 100%;
            height:100%;
            left: 0;
            top:0;
        }
        .box{
            margin:300px auto;
            width: 300px;;
            background-color: #fff;
        }
        .box .title{
            text-align: center;
        }
        .box span{
            float: right;
        }
